.countainer_sandwich{
    background-color: rgba(144, 106, 180, 50%);
    margin: 50px 200px 50px 200px;
    padding-top: 20px;
    padding-bottom: 50px;
    border: 1px solid black;
    border-radius: 30px;
    min-width: 300px;
}

.countainer_sandwich:hover{
    transition: linear 0.3s;
    background-color: rgba(93, 55, 129, 60%);
}

.sandwich{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(240, 235, 234);
    font-size: 25px;
}

.sandwichBtn button {
    width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(112, 98, 153);
    box-shadow: none;
    margin-left: 15px;
}

.sandwichBtn button:hover{
    transition: linear 0.3s;
    background-color: rgb(137, 99, 173);
}

.sandwichBtn button:active{
    color: rgb(93, 55, 129);  
}

.ingredients{
    color: rgb(197, 214, 16); 
    font-size: 20px;
}