.flex-container {
  background-color: pink;
  height: 500px;
  width: 900px;

  /*FLEX*/
  display: flex;

  /*свойство ниже возможно только при display: flex; */
  flex-wrap: nowrap; /*переносить или нет элементы на след строку */
  flex-direction: row; /*расположение внутренних элементов (в строку\столбик и направление) */

  align-content: space-between;
  align-items: center;
}

.item {
  height: 200px;
  width: 200px;
}

.aqua {
  background-color: aqua;
}

.blue {
  background-color: blue;
}

.brown {
  background-color: brown;
}

.red {
  background-color: red;
}

.gray {
  background-color: lightgray;
}
